.row {
  color: gray;
  padding: 2vh 0 0 2vh;

  h3 {
    font-size: 3vh;
  }

  &__movies {
    display: flex;
    padding: 3vh 3vh 2vh 1vh;
    overflow-y: hidden;
    overflow-x: scroll;

    &--wrap {
      flex-wrap: wrap;
    }
  }
  &__poster {
    object-fit: contain;
    height: 23vh;
    margin: 0 1.5vh 1.5vh 0;
    transition: transform 0.4s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
