.row {
  color: gray;
  padding: 20px 0 0 20px;

  &__movies {
    display: flex;
    padding: 20px;
    overflow-y: hidden;
    overflow-x: scroll;
  }
  &__poster {
    object-fit: contain;
    height: 150px;
    margin: 0 10px 0 0;
    transition: transform 0.4s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
