.row {
  color: gray;
  padding: 2vh 0 0 2vh;

  h3 {
    font-size: 3vh;
  }

  &__movies {
    display: flex;
    padding: 3vh 3vh 2vh 1vh;
    overflow-y: hidden;
    overflow-x: scroll;

    &--wrap {
      flex-wrap: wrap;
    }
  }
  &__poster {
    object-fit: contain;
    height: 23vh;
    margin: 0 1.5vh 1.5vh 0;
    transition: transform 0.4s;

    &:hover {
      transform: scale(1.1);
    }
  }
}

@media (max-width: 768px) {
  .row {
    padding: 10px 0 0 10px;

    h3 {
      padding: 5px 0 0 5px;
      font-size: 18px;
    }

    &__movies {
      padding: 10px 10px 8px 5px;
    }

    &__poster {
      height: 150px;
      margin: 0 8px 8px 0;
    }
  }
}
