.navbar {
  display: flex;
  align-items: center;
  padding: 1vh 2vh;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;

  &--black {
    background-color: #111;
    transition: all 0.2s;
  }

  img {
    object-fit: contain;
    height: 5vh;
  }

  &__search {
    position: fixed;
    right: 2vh;
    display: flex;
    align-items: center;
    width: 20vw;
    min-width: 25vh;
    height: 5.5vh;
    border-radius: 1vh;
    background-color: rgba(0, 0, 0, 0.8);

    input {
      flex: 1;
      border: none;
      padding: 0 0 0 4vh;
      height: 100%;
      background-color: transparent;
      color: white;
      font-size: 2vh;

      &::placeholder {
        color: rgb(207, 207, 207);
      }

      &:focus {
        outline: none;
      }
    }
  }
}
