.navbar {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;

  &--black {
    background-color: #111;
    transition: all 0.2s;
  }

  img {
    object-fit: contain;
    height: 33px;
  }

  &__search {
    position: fixed;
    right: 20px;
    display: flex;
    align-items: center;
    width: 250px;
    height: 30px;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.8);

    img {
      object-fit: contain;
      width: 20px;
      padding: 0 10px 0 0;
      cursor: pointer;
    }

    input {
      flex: 1;
      border: none;
      padding: 0 0 0 20px;
      height: 100%;
      background-color: transparent;
      color: white;

      &::placeholder {
        color: rgb(207, 207, 207);
      }

      &:focus {
        outline: none;
      }
    }
  }
}
