.detail {
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;

  &__content {
    width: 45vw;
    // height: 60vh;
    margin: 0 0 0 10vw;

    h1 {
      font-size: 7vh;
    }

    h5 {
      color: #b9202e;
      margin: 0.5vw 0 0 0;
      font-size: 2vh;
    }

    h4 {
      margin: 2.5vw 0;
      font-weight: 700;
      font-size: 2.4vh;
    }
    button {
      outline: none;
      color: white;
      border: none;
      border-radius: 1vh;
      padding: 1.2vh 2vh;
      background-color: #b9202e;
      cursor: pointer;
      margin: 15px 0 0 0;
      font-weight: 700;
      font-size: 2vh;

      &:hover {
        color: #b9202e;
        background-color: #e6e6e6;
        transition: all 0.3s;
      }
    }
  }

  &__genreFlag {
    display: flex;
    flex-wrap: wrap;

    h5 {
      font-weight: 700;
      border-radius: 1vh;
      padding: 1vh 2vh;
      background-color: white;
      color: black;
      margin: 0 0.5vh 1vh 0;
      font-size: 2vh;
    }
  }
}

@media (max-width: 768px) {
  .detail {
    &__content {
      height: 100%;
      width: 80vw;
      padding: 120px 0;

      h1 {
        font-size: 30px;
      }

      h5 {
        margin: 5px 0 0 0;
        font-size: 12px;
      }

      h4 {
        margin: 15px 0;
        font-size: 14px;
      }
      button {
        border-radius: 5px;
        padding: 8px 10px;
        margin: 15px 0 0 0;
        font-size: 15px;
      }
    }
    &__genreFlag {
      h5 {
        border-radius: 5px;
        padding: 5px 7px;
        margin: 0 5px 7px 0;
        font-size: 12px;
      }
    }
  }
}
