.detail {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;

  &__content {
    width: 45vw;
    height: 60vh;
    margin: 0 0 0 10vw;

    @media (max-width: 425px) {
      width: 80vw;
    }

    h1 {
      font-size: 7vh;
    }

    h5 {
      color: #b9202e;
      margin: 0.5vw 0 0 0;
      font-size: 2vh;
    }

    h4 {
      margin: 2.5vw 0;
      font-weight: 700;
      font-size: 2.4vh;
    }
    button {
      outline: none;
      color: white;
      border: none;
      border-radius: 1vh;
      padding: 1.2vh 2vh;
      background-color: #b9202e;
      cursor: pointer;
      margin: 15px 0 0 0;
      font-weight: 700;
      font-size: 2vh;

      &:hover {
        color: #b9202e;
        background-color: #e6e6e6;
        transition: all 0.3s;
      }
    }
  }

  &__genreFlag {
    display: flex;
    flex-wrap: wrap;

    h5 {
      font-weight: 700;
      border-radius: 1vh;
      padding: 1vh 2vh;
      background-color: white;
      color: black;
      margin: 0 0.5vh 1vh 0;
      font-size: 2vh;
    }
  }
}
