.detail {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;

  &__content {
    width: 40%;
    margin: 0 0 0 100px;

    h5 {
      color: #b9202e;
      margin: 5px 0 0 0;
    }

    h4 {
      margin: 20px 0;
      font-weight: 700;
    }
    button {
      outline: none;
      color: white;
      border: none;
      border-radius: 7px;
      padding: 10px 15px;
      background-color: #b9202e;
      cursor: pointer;
      margin: 15px 0 0 0;

      &:hover {
        color: black;
        background-color: #e6e6e6;
        transition: all 0.3s;
      }
    }
  }

  &__genreFlag {
    display: flex;
    flex-wrap: wrap;

    h5 {
      font-weight: 700;
      border-radius: 7px;
      padding: 7px 10px;
      background-color: white;
      color: black;
      margin: 0 5px 5px 0;
    }
  }
}
