.player {
  position: relative;

  &__header {
    position: absolute;
    right: 8vh;
    top: 26vh;
    z-index: 100;

    img {
      object-fit: contain;
      width: 8vh;
    }
  }

  &__message {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
